html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: middle;
}

svg {
  vertical-align: middle;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

body {
  /*font-family: 'Cormorant Unicase', serif;*/
  font-family: "Manrope", sans-serif;
  color: #001333;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 15px 0;
  background-color: #001333;
  margin-bottom: 10px;
}
.header__wrapper, .header__right, .header__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__logo-link {
  display: inline-block;
}
.header__logo-title {
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -1.28px;
  text-transform: uppercase;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 10px;
  max-width: 625px;
  width: 100%;
  margin-right: 15px;
  margin-left: auto;
}
.header__buttons-btn {
  border: 2px solid #fff;
  background: #001333;
  height: 50px;
  max-width: 350px;
  width: 100%;
  padding: 0 10px;
  color: #fff;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.header__buttons-btn:hover {
  background-color: #0085ff;
}
.header__buttons-btn.btn1 {
  max-width: 250px;
}
.header__buttons-btn.btn2 {
  max-width: 350px;
}
.header__right {
  gap: 10px;
  max-width: 260px;
  width: 100%;
}
.header__location {
  gap: 2px;
}
.header__location-select {
  border: none;
  background-color: #001333;
  color: #fff;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  outline: none;
  cursor: pointer;
}
.header__login {
  cursor: pointer;
}

.navigation {
  margin-bottom: 5px;
}
.navigation__box {
  position: relative;
}
.navigation__wrapper {
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  position: static;
}
.navigation__wrapper .swiper-button-next,
.navigation__wrapper .swiper-button-prev {
  font-size: 0;
  width: 25px;
  height: 25px;
  top: 21px;
}
.navigation__wrapper .swiper-button-next::after,
.navigation__wrapper .swiper-button-prev::after {
  display: none;
}
.navigation__wrapper .swiper-button-next {
  right: 0;
}
.navigation__wrapper .swiper-button-prev {
  left: 0;
}
.navigation__list-item {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}
.navigation__list-link {
  color: #001333;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 143.99%;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.navigation__list-link:hover {
  color: #0085ff;
}